.form {
  margin-bottom: 20px;
}

.input {
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  background-color: #fff;
  font-size: 18px;
}

.button {
  margin-left: 20px;
  padding: 5px 8px;
  border: none;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    background-color: #01b4e4;
    font-size: 20px;
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #038aaf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button:active {
  color: black;
  background-color: rgba(149, 239, 216, 0.693);
}